cache/*
config/*
libraries/*
logs/*
versions/*
world*

plugins/.paper-remapped
plugins/bStats
plugins/spark
plugins/FeatherCore*
plugins/LuckPerms/libs/*
plugins/LuckPerms/translations/*
plugins/LuckPerms/luckperms-h2-v2.mv.db

.console_history

help.yml
bukkit.yml
spigot.yml
commands.yml
permissions.yml

ops.json
whitelist.json
usercache.json
banned-ips.json
server.properties
banned-players.json
version_history.json
